.wrapTitle{
 
    position: relative;
    font-size: 4vw;
    font-weight: bold;
    color: #252839;
    -webkit-text-stroke: 0.1vw #3e4250;
    text-transform: uppercase;
}
.wrapTitle::before
{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    font-weight: bold;
    color: #7021b1;
    -webkit-text-stroke: 0vw #383d52;
    border-right: 2px solid #01fe87;
    overflow: hidden;
    animation: animate3 6s linear infinite;
}

@keyframes animate3 
{
    0%,10%,100%{
        width: 0;
    }
    70%,90%{
        width: 100%;
    }
}